<p id="notice"><%= notice %></p>
<h3>Listing Users</h3>
<br/>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Date of birth</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.date_of_birth %></td></tr>
    <% end %>
  </tbody>
</table>
