<div id="notice"><%= notice %></div>
<h3>User Registration</h3>
<br/>
<div class="row">
  <div class="col-md-6">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
        <% @user.errors.clear %>
      <% end %>
      <div id='client-errors' class='hidden'></div>   
      <div class="register-user">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email,  placeholder: 'Email'  %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Password' %>
        </div>
        <div class="field">
          <%= f.label :confirm_password %>
          <%= f.password_field :password_confirmation, placeholder: 'Confirm password' %>
        </div>
        <br/>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Name' %>
        </div>
        <div class="field">
          <%= f.label :date_of_birth %>
          <%= f.text_field :date_of_birth, placeholder: 'dd/mm/yyyy' %>
        </div>
        <div class="actions">
          <%= f.submit 'Register', id: 'user_register', class: 'btn btn-sm btn-primary pull-right' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class='col-md-6 regular-text'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>


