@import "bootstrap-sprockets";
@import "bootstrap";

/*from colorzlla*/
$navbar-backgroung-color: #6699CC;
$text-background-color: #EEEEEE;

section {
  overflow: auto;
}

.field, {
  padding-top: 5px;
  input {
    width: 69%;
  }
}

.field_with_errors {
  
}

.hidden {
  display: none;
}

.actions {
  padding-top: 5px;
}
.regular-text {
  background-color: $text-background-color;
  padding: 20px;
}

label {
  text-align: right;
  width: 30%;
  padding-right: 10px;
}

.navbar {
  background-color: $navbar-backgroung-color;
}

ul.nav li a, ul.nav li a:link, ul.nav li a:visited {
    color: white;
}

#error_explanation {
  color: red;
}

#client-errors {
  color: red;
  padding-bottom: 10px;
}

#notice {
  color: green;
}

.register-user {
  min-height: 240px
}

/*ul.nav li a:hover{
    color: green;
}*/

ul.nav li a:active{
    background-color: dark-blue;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    min-width: 200px;
    padding: 5px;
}