<!DOCTYPE html>
<html>
<head>
  <title>InstaTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <header class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Home', new_user_path %></li>
          <li><%= link_to "List",  users_path %></li>
          <li><%= link_to 'nav3', '#' %></li>
          <li><%= link_to "nav4",  '#' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'nav5', '#zxc' %></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>